<!DOCTYPE html>
<html>
<head>
    <title>{{.Title}}</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>
    <div class="navbar">
		    {{range .MenuOptions}}
				{{if .SubMenus}}
				<div class="subnav">
						<button class="subnavbtn">{{.Title}} <i class="fa fa-caret-down"></i></button>
						<div class="subnav-content">
				    {{range .SubMenus}}
						    <a href="{{.URL}}">{{.Title}}</a>
						{{end}}
						</div>
				</div>
				{{else}}
		    <a href="{{.URL}}">{{.Title}}</a>
				{{end}}
				{{end}}
		</div>
    <h1>{{.Title}}</h1>
    <p>{{.Content}}</p>
</body>
</html>
